@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@import "tailwindcss";

@theme {
  --color-on-primary-container: #004f22;
  --color-primary-fixed: #3ae97a;
  --color-surface-container-high: #e5e2e1;
  --color-secondary: #006943;
  --color-secondary-dim: #005c3a;
  --color-tertiary-fixed: #0bdfff;
  --color-primary-container: #3ae97a;
  --color-tertiary: #006574;
  --color-on-surface: #2f2e2e;
  --color-surface-bright: #f9f6f5;
  --color-inverse-primary: #3ae97a;
  --color-inverse-on-surface: #9e9c9c;
  --color-on-primary-fixed: #003917;
  --color-on-secondary-fixed-variant: #006943;
  --color-surface-tint: #006a30;
  --color-on-primary: #ceffd2;
  --color-surface-container-low: #f3f0ef;
  --color-surface-variant: #dfdcdc;
  --color-secondary-fixed-dim: #68ecac;
  --color-secondary-fixed: #77fbb9;
  --color-tertiary-fixed-dim: #00d0ee;
  --color-on-secondary: #c9ffdd;
  --color-surface-container: #eae7e7;
  --color-on-secondary-container: #005e3c;
  --color-outline: #787676;
  --color-on-surface-variant: #5c5b5b;
  --color-on-secondary-fixed: #00492e;
  --color-on-tertiary-fixed-variant: #005562;
  --color-surface-dim: #d6d4d3;
  --color-surface: #f9f6f5;
  --color-on-tertiary-container: #004b57;
  --color-primary: #006a30;
  --color-error-dim: #b92902;
  --color-background: #f9f6f5;
  --color-error: #b02500;
  --color-surface-container-lowest: #ffffff;
  --color-primary-dim: #005d29;
  --color-tertiary-container: #0bdfff;
  --color-on-error-container: #520c00;
  --color-primary-fixed-dim: #20da6e;
  --color-on-primary-fixed-variant: #005928;
  --color-secondary-container: #77fbb9;
  --color-tertiary-dim: #005865;
  --color-outline-variant: #afacac;
  --color-on-tertiary-fixed: #00363f;
  --color-surface-container-highest: #dfdcdc;
  --color-on-error: #ffefec;
  --color-inverse-surface: #0e0e0e;
  --color-on-tertiary: #dcf8ff;
  --color-on-background: #2f2e2e;
  --color-error-container: #f95630;

  --font-headline: 'Manrope', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Inter', sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  -webkit-font-smoothing: antialiased;
}

.glass-header {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.text-gradient {
  background: linear-gradient(135deg, #006a30 0%, #3ae97a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-shadow {
  box-shadow: 0 10px 40px -10px rgba(14, 14, 14, 0.25);
}

.card-ambient-shadow {
  box-shadow: 0 40px 60px -10px rgba(47, 46, 46, 0.06);
}